.button{
    border: none;
    background: #000000a8;
    padding: 4px 11px;
    border-radius: 9px;
    color: white;
}

.button.font-icon{
    background : none;
    font-size: 1.6em;
    padding: 0;
}