.header-wrap{
    width: calc(100vw - 30px);
    height: 50px;
    position: fixed;
    z-index: 5;
    background-color: black;
    color: white;
    font-family: 'Supermercado One';
    text-align: right;
    font-size: 1.5em;
    padding: 15px;
}

.header-nickname{
    color: white;
    font-size: 1.15em;
    position: absolute;
    top: 15px;
    width: 100vw;
    left: 0;
    text-align: center;
    font-family: 'jua';
}

/* .header-signout{
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 17px;
    background: none;
    border: none;
    font-size: 1.3em;
    color: white;
} */